<div cdkDropListGroup>
  <mat-grid-list cols="5" rowHeight="">
    <mat-grid-tile>
      Monday
    </mat-grid-tile>
    <mat-grid-tile>
      Tuesday
    </mat-grid-tile>
    <mat-grid-tile>
      Wednesday
    </mat-grid-tile>
    <mat-grid-tile>
      Thursday
    </mat-grid-tile>
    <mat-grid-tile>
      Friday
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-container">
        <div cdkDropList
          #firstDay="cdkDropList"
          [cdkDropListData]="monday"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of monday" cdkDrag>{{item}}</div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-container">
        <div cdkDropList
          #firstDay="cdkDropList"
          [cdkDropListData]="tuesday"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of tuesday" cdkDrag>{{item}}</div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-container">
        <div cdkDropList
          #firstDay="cdkDropList"
          [cdkDropListData]="wednesday"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of wednesday" cdkDrag>{{item}}</div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-container">
        <div cdkDropList
          #firstDay="cdkDropList"
          [cdkDropListData]="thursday"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of thursday" cdkDrag>{{item}}</div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-container">
        <div cdkDropList
          #firstDay="cdkDropList"
          [cdkDropListData]="friday"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of friday" cdkDrag>{{item}}</div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
